<!DOCTYPE html>
<html>
    <head>
        <title>Todo List</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/assets/todo-list.js"></script>
        <link rel="stylesheet" type="text/css" href="/assets/style.css" />
    </head>
    <body>
        <div id="todo-list" class="center-parent">
            <img src="/assets/logo.png">
            <form id="submit-form" type="submit" method="POST" action="/">
                <input type="text" name="todo" placeholder="Type todo here" autocomplete="off" required />
                <br />
                <button>Add Todo</button>
            </form>
            <ul>
                <% data.forEach(todo => { %>
                    <li><%= todo %></li>
                <% }) %>
            </ul>
        </div>
    </body>
</html>